<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://gw.alipayobjects.com/os/antv/assets/favoricon.png">
    <link rel=stylesheet type=text/css href="../static/style.css">
    <title>mandybear</title>
</head>
<body style="height: 530px;background: rgb(28,31,39)">
    <div class="title" style="height: 8%">
        新型冠状病毒肺炎疫情
    </div>
    <div style="height: 92%">
        <div style="width: 25%;height: 100%;float: left"></div>
        <div style="width: 50%;height: 100%;float: left">
            <iframe src="index_map.html" style="width:100%;height:80%;float: left" frameborder="no" >这是A</iframe>
            <div style="width: 100%;height:20%;float: left"></div>
        </div>
        <div style="width: 25%;height: 100%;float: left"></div>

    </div>

</body>
</html>